* {
  margin: 0;
  padding: 0; }

body {
  overflow-x: hidden; }

.navbar-logo {
  font-size: 25px; }
  .navbar-logo .navbar-logo__img {
    font-size: 40px;
    color: #2D3092;
    margin-right: 5px; }

.navbar-menu li a:hover {
  color: #2D3092 !important; }
.navbar-menu li a {
  color: #000000 !important;
  padding-left: 25px !important; }

.qidiruv__div .qidiruv {
  border-radius: 50px;
  height: 50px; }

.qidiruv-button {
  width: 50px;
  height: 50px;
  background-color: #2D3092;
  margin-left: 50px;
  cursor: pointer; }
  .qidiruv-button .qidiruv-button__icon {
    display: flex;
    justify-content: center;
    color: #fff;
    padding-top: 18px; }

.home-section {
  background-color: #BCDEFE;
  padding-top: 200px; }

.home-text {
  padding-top: 4rem; }
  .home-text h1 {
    font-size: 4vw; }
  .home-text p {
    color: #2D3092;
    font-size: large; }
  .home-text button:hover {
    color: #2D3092;
    background-color: #BCDEFE;
    border: 1px solid #292C93; }
  .home-text button {
    background-color: #2D3092;
    color: #fff;
    padding: 1vw 1.2vw;
    font-size: 1.5vw; }

.img {
  display: flex;
  justify-content: center; }
  .img img {
    width: 90%; }

.onlinecourse-section {
  padding-top: 150px; }

.onlinecourse-text p {
  color: #3BAEFF; }

.card {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  height: 23rem;
  padding: 2px; }
  .card .card-body h1 {
    font-size: 25px;
    margin-bottom: 1rem;
    color: #12144d;
    margin-left: 2rem; }
  .card .card-body p {
    font-size: 18px;
    margin-bottom: 35px;
    color: #888b8de8;
    margin-left: 2rem; }
  .card .card-body a {
    font-size: 18px;
    color: #888b8de8;
    margin-left: 2rem; }
  .card .card-body .card-img i {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #2D3092;
    margin-left: 2rem;
    margin-top: 1rem; }

.card:hover .card-body {
  background-color: #2D3092; }
  .card:hover .card-body h1, .card:hover .card-body p, .card:hover .card-body a, .card:hover .card-body i {
    color: #fff; }

.topics-section {
  padding: 150px 0;
  background-color: #F6FBFF; }
  .topics-section h1 {
    margin-top: -80px;
    margin-bottom: 100px; }

.color1 {
  color: #1E9D78; }

.color2 {
  color: #292C93; }

.color3 {
  color: #1E9D78; }

.color4 {
  color: #F05510; }

.topics__title {
  padding-top: 8px;
  font-size: 25px;
  font-weight: 500; }

.card_topic:hover .color1 img, .card_topic:hover .color2 img, .card_topic:hover .color3 img, .card_topic:hover .color4 img {
  cursor: pointer; }

.popularcourse-section {
  padding-top: 100px; }

.popularcourse_title p {
  color: #3BAEFF; }

.kard {
  height: 28rem; }
  .kard .kard__header {
    overflow: hidden; }
    .kard .kard__header img {
      width: 100%;
      border-radius: 1px; }
  .kard .kard__body h3 {
    padding-top: 2rem;
    color: #12144d; }
  .kard .kard__footer {
    padding-top: 2rem; }
    .kard .kard__footer .row .stars i {
      color: darkorange; }
    .kard .kard__footer .likes i {
      color: red; }

.teachers-section {
  margin-top: 10rem;
  padding-top: 100px;
  background-color: #312D97; }

.teachers_main__text p {
  color: #3BAEFF; }
.teachers_main__text h1 {
  color: #fff; }

.teachers-card {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  background-color: #FFFFFF; }
  .teachers-card .teachers-card__img img {
    width: 100%; }

.teachers_button {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  padding: 10px 20px;
  background-color: #fff;
  color: #000000;
  border: none; }

.teachers_button:hover {
  background-color: #000000;
  color: #fff; }

.about {
  padding-top: 150px; }

.about_title p {
  color: #3BAEFF; }
.about_title h1 {
  padding-bottom: 50px; }

.about_body p {
  font-size: 17px; }
.about_body ul li {
  line-height: 35px;
  list-style: none; }
  .about_body ul li i {
    padding-right: 10px;
    font-size: 20px; }

/*# sourceMappingURL=style.css.map */
